<fieldset style="margin-top:5em;">
  <legend>Contributors</legend>
  <ul id="contributor_list">
    <% unless @jivepage.contributors.blank? %>
    <% for user in @jivepage.contributors do %>
    <li><%= link_to h(user.display_name), user %></li>
    <% end %>
    <% end %>
  </ul>

  <% if @jivepage.user == current_user %>
  <% remote_form_for(:contributorship, @contributorship, :url => contributorships_path) do |f| %>
  <% @contributorship = Contributorship.new(:jivepage => @jivepage) %>
  <%= f.hidden_field :jivepage_id %>
  <p>
    <b>Enter new contributor's email address</b><br />
    <%= text_field_tag "email", nil, :size => 35 %>
    <%= submit_tag "Invite as contributor" %>
  </p>  
  <% end %>
  <% end %>


</fieldset>
